.class-1 {

  
    text-align: center;
    color: rgb(10, 10, 10);
   background-color: rgb(184, 249, 249);
    background-image: url("Screenshot_1.png");

}


.class-2 {
    background-color: rgba(161, 156, 180, 0.586);
    text-align: center;
    color: rgb(1, 1, 1);
    
}

.class-3 {
    background-color: #c7efc750;  
    text-align:center;
    color: rgb(195, 157, 229);
}

.class-4 {
    background-color: rgba(236, 236, 236, 0.881);
     width: 100px;
     border: 5px solid rgba(222, 241, 222, 0.632);
     padding: 50px;
     margin: 10px;

}

.class-5 {

    text-decoration-color: blue;
    color: rgb(217, 45, 45);
    text-transform: UPercase;

}
.class-6 {
    
    border: 2px solid rgb(50, 54, 50);
    background-color: rgba(166, 165, 178, 0.541);
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    width: 35%;
    padding: 10px;
    

    
        border: 2px solid rgb(219, 108, 108);
        border-radius: 25px;
        padding: 5px;
   
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: darkcyan;
    outline: #04AA6D;
    color: #f0f0f0;
    background-color: #5c41d5f3;
    border: slateblue;
    border-radius: 20px;
    box-shadow: 0 9px #999;
    .background-color: #3e8e41




  



    /* background-color: rgba(238, 113, 209, 0.608); 
    color: rgb(11, 11, 11); 
    border: 2px solid #d61e34;
    color: rgb(10, 10, 10);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer

    border: 2px solid rgb(192, 82, 239);
    border-radius: 12px;
    padding: 5px;

    
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
    


}

  /*.button-2 {

    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    .background-color: #3e8e41


  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY 4px;

  }*/

  .button-3 {

    
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: darkcyan;
    outline: #04AA6D;
    color: #f0f0f0;
    background-color: #5c41d5f3;
    border: slateblue;
    border-radius: 20px;
    box-shadow: 0 9px #999;
    .background-color: #3e8e41

  }


  .class-7 {
    background-color: rgba(236, 236, 236, 0.881);
     width: 300px;
     border: 5px solid rgba(222, 241, 222, 0.632);
     padding: 2px;
     margin: 5px;
     border: 2px solid rgb(110, 245, 188);
     border-radius: 15px;

}
